<link rel="import" href="/components/styles.html" />
<link rel="import" href="/components/hydra/link.html" />

<dom-module id="openmind-portfolio-item">
    <style>
        :host {
            display: block;
        }

        .panel-heading {
            @apply(--ellipsis);
        }

        .panel-primary {
            @apply(--layout-vertical);
        }

        .flex {
            @apply(--layout-flex);
        }
    </style>

    <template>
        <div class="panel panel-primary">
            <div class="panel-heading">{{title}}</div>
            <div class="flex">
                <img src="{{image}}" class="img-responsive" alt="Image">
            </div>
            <div class="panel-body">
                <content select="h4.post-title"></content>
                <content select="p"></content>
                <a is="hydra-link" resource="{{id}}" class="btn btn-primary pull-right">See more »</a>
            </div>
        </div>
    </template>
</dom-module>

<script>
    (function(){
       'use strict';

        Polymer({
            is: 'openmind-portfolio-item',
            properties: {
                title: String
            }
        });
    })();
</script>