<link rel="import" href="/components/styles.html" />
<link rel="import" href="../hydra/collection.html" />
<link rel="import" href="../openmind/portfolio-item.html" />

<dom-module id="wb-brochures">
    <style>
        :host openmind-portfolio-item {
            width: 262px;
            margin: 0 15px;
        }
    </style>

    <template>
        <hydra-collection collection="{{brochures}}">
            <template class="member">
                <style>
                    .brochure /deep/ .panel-primary {
                        height: 307px;
                    }
                </style>

                <div class="flex">
                    <openmind-portfolio-item title="{{item.title}}"
                                             image="{{item.image.thumbnail.contentUrl}}"
                                             id="{{item.@id}}"
                                             class="brochure">
                    </openmind-portfolio-item>
                </div>
            </template>
        </hydra-collection>
    </template>
</dom-module>

<script>
    (function(){
        'use strict';

        Polymer({
            is: 'wb-brochures',
            properties: {
                brochures: Object
            }
        });
    })();
</script>