<link rel="import" href="wb-actions.html"/>
<link rel="import" href="deps/jsonld.html"/>
<link rel="import" href="deps/fetch.html"/>

<script>
    (function (window, Wikibus) {
        'use strict';

        Wikibus.Stores = Wikibus.Stores || {};

        Wikibus.Stores.Model = Reflux.createStore({
            init: function () {
                this.listenTo(Wikibus.actions.loadModel, loadResource);
            }
        });

        Polymer({
            is: 'wb-model-store',
            properties: {
                model: {
                    type: Object,
                    readOnly: true,
                    notify: true
                },
                apiDocumentation: {
                    type: Object,
                    readOnly: true,
                    notify: true
                }
            },
            ready: function () {
                var self = this;
                Wikibus.Stores.Model.listen(function (model) {
                    self._setModel(model);
                });
            }
        });

        function loadResource(url) {
            var fetch = window.fetch(url, {
                method: 'get',
                headers: {
                    accept: 'application/ld+json'
                }
            });

            fetch.then(getJson).then(notifyListeners);
            fetch.then(getApiDocumentation).then(Wikibus.actions.loadApiDocumentation);
        }

        function getApiDocumentation(response) {
            var linkHeader = response.headers.get('Link');

            var links = li.parse(linkHeader);
            return links['http://www.w3.org/ns/hydra/core#apiDocumentation'];
        }

        function expand(json) {
            return window.jsonld.promises.expand(json);
        }

        function notifyListeners(expanded) {
            Wikibus.actions.loadModel.success(expanded);
            Wikibus.Stores.Model.trigger(expanded);
        }

        function getJson(response) {
            return response.json();
        }
    })(window, window.Wikibus);
</script>