<script>
    (function(){
        'use strict';

        Polymer({
            is: 'fallback-image',
            extends: 'img',
            properties: {
                fallbackSrc: String
            },
            ready: function() {
                this.onerror = this.replaceImage.bind(this);
            },
            attached: function() {
                if(!this.src) {
                    this.src = this.fallbackSrc;
                }
            },
            replaceImage: function() {
                if (this.src && this.src.endsWith(this.fallbackSrc) === false) {
                    this.src = this.fallbackSrc;
                }
            }
        });
    })();
</script>