<script src="/lib/lodash/lodash.js"></script>
<link rel="import" href="views/wb-brochures.html" />
<link rel="import" href="/lib/iron-flex-layout/iron-flex-layout.html" />

<dom-module id="wb-application">
    <template>
        <wb-model-store model="{{theModel}}"></wb-model-store>
        <template is="dom-if" if="{{modelIsBrochures(theModel)}}">
            <wb-brochures brochures="[[theModel]]"></wb-brochures>
        </template>
    </template>
</dom-module>

<script>
    (function(){
        'use strict';

        Polymer({
            is: 'wb-application',
            modelIsBrochures: function(model) {
                var predicate = typeEquals('http://wikibus.org/ontology#PagedCollectionOfBrochures');

                return predicate(model['@type']) || _.any(model['@type'], predicate);
            },
            getId: function(item){
                return item['@id'];
            }
        });

        function typeEquals(typeToMatch) {
            return function(item) {
                return typeToMatch === item;
            };
        }
    })();
</script>