<dom-module id="wb-footer">
    <template>
        <div class="row">
        <div class="col-md-4">
            <h3 class="footer-widget-title" translate> 'FOOTER.SITEMAP' </h3>
            <ul class="list-unstyled three_cols">
                <li><a href="#/" translate>'MENUS.HOME_PAGE' </a></li>
                <li><a href="#/blog" translate> 'MENUS.BLOG' </a></li>
                <li><a href="#/images" translate> 'MENUS.IMAGE' </a></li>
                <li><a href="#/buses" translate> 'MENUS.BUS' </a></li>
                <li><a href="#/trams" translate> 'MENUS.TRAM' </a></li>
                <li><a href="#/trolleys" translate> 'MENUS.TROLLEY' </a></li>
                <li><a href="#/books" translate> 'MENUS.BOOK' </a></li>
                <li><a href="#/brochures" translate> 'MENUS.BROCHURE' </a></li>
                <li><a href="#/mags" translate> 'MENUS.MAGAZINE' </a></li>
                <li><a href="#/links" translate> 'MENUS.LINK' </a></li>
                <li><a href="#" translate>Login</a></li>
                <li><a href="#" translate>Contact</a></li>
            </ul>
            <h3 class="footer-widget-title">Subscribe</h3>

            <p>Lorem ipsum Amet fugiat elit nisi anim mollit in labore ut esse Duis ullamco ad dolor veniam
                velit lorem ipsum dolor sit amet, consectetur adipisicing..</p>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email Adress">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button">Subscribe</button>
                            </span>
            </div> <!-- /input-group -->
        </div>
        <div class="col-md-4">
            <div class="footer-widget">
                <h3 class="footer-widget-title">Recent Post</h3>

                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="images/m2.jpg" width="75"
                                                       height="75" alt="image"></a>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum
                            tempor officia labor</a></h4>
                        <small>August 18, 2013</small>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="images/m11.jpg" width="75"
                                                       height="75" alt="image"></a>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum
                            cillum tempor</a></h4>
                        <small>September 14, 2013</small>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="images/m4.jpg" width="75"
                                                       height="75" alt="image"></a>

                    <div class="media-body">
                        <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat adipisicing et
                            fugiat</a></h4>
                        <small>October 9, 2013</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-widget">
                <h3 class="footer-widget-title">Recent Works</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                        <a href="#" class="thumbnail"><img src="images/wf1.jpg" class="img-responsive"
                                                           alt="Image"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                        <a href="#" class="thumbnail"><img src="images/wf2.jpg" class="img-responsive"
                                                           alt="Image"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                        <a href="#" class="thumbnail"><img src="images/wf3.jpg" class="img-responsive"
                                                           alt="Image"></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                        <a href="#" class="thumbnail"><img src="images/wf4.jpg" class="img-responsive"
                                                           alt="Image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'wb-footer'
    });
</script>