<script>
    (function(){
        'use strict';

        var apiDocumentationFrame = {
            '@type': 'http://www.w3.org/ns/hydra/core#ApiDocumentation',
            '@context': {
                'hydra': 'http://www.w3.org/ns/hydra/core#'
            }
        };

        Polymer({
            is: 'hydra-api',
            properties: {
                apiDocumentationUrl: {
                    type: String,
                    observer: '_loadApiDocumentation'
                },
                apiDocumentation: {
                    type: Object,
                    notify: true,
                    readOnly: true
                },
                entryPoint: {
                    type: Object,
                    notify: true,
                    computed: 'loadEntryPoint(apiDocumentation)'
                }
            },
            _loadApiDocumentation: function(url) {
                loadApiDocumentation(url).then(function(r){
                    this._setApiDocumentation(r);
                }.bind(this));
            },
            loadEntryPoint: function(apiDoc){
                return apiDoc['hydra:entrypoint']['@id'];
            }
        });

        function loadApiDocumentation(apiDocumentationUrl) {
            var fetch = window.fetch(apiDocumentationUrl, {
                method: 'get',
                headers: {
                    accept: 'application/ld+json'
                }
            }).then(getJson);

            //fetch.then(getEntrypoint).then(expand).then(_.first).then(Wikibus.actions.loadApiDocumentation.entrypointDiscovered);
            return fetch.then(getFramed);
        }

        function getFramed(json) {
            return window.jsonld.promises.frame(json, apiDocumentationFrame).then(function(framed) {
                return framed['@graph'][0];
            });
        }

        function expand(json) {
            return window.jsonld.promises.expand(json);
        }

        function getJson(response) {
            return response.json();
        }

        function getEntrypoint(apiDoc) {
            return window.fetch(apiDoc.entrypoint).then(getJson);
        }
    })();
</script>