<script>
    (function(Wikibus) {
        'use strict';

        Polymer({
            is: 'hydra-link',
            extends: 'a',
            properties: {
                resource: {
                    type: String,
                    observer: '_idChanged'
                }
            },
            ready: function(){
                this.addEventListener('click', function(e) {
                    if(this.resource) {
                        Wikibus.actions.loadModel(this.resource);
                        e.preventDefault();
                    }
                }.bind(this));
            },
            _idChanged: function() {
                if(this.resource) {
                    this.href = this.resource.replace('http://test.wikibus.org', '');
                }
            }
        });
    })(window.Wikibus);
</script>