<link rel="import" href="pager.html" />

<dom-module id="hydra-collection">
    <style>
        #items {
            @apply(--layout-wrap);
            @apply(--layout-horizontal);
            margin: 0 -15px;
        }
    </style>

    <template>
        <hydra-pager collection="[[collection]]"></hydra-pager>
        <content id="distributedMembers" select=".member"></content>
        <div id="items"></div>
        <hydra-pager collection="[[collection]]"></hydra-pager>
    </template>
</dom-module>

<script>
    (function (Wikibus) {
        'use strict';

        Polymer({
            is: 'hydra-collection',
            behaviors: [ Polymer.Templatizer ],
            properties: {
                collection: {
                    type: Object,
                    observer: '_collectionChanged'
                }
            },
            ready: function(){
                renderItems.apply(this);
            },
            _collectionChanged: function() {
                renderItems.apply(this);
            }
        });

        function renderItems() {
            Polymer.dom(this.$.items).innerHTML = '';

            var template = Polymer.dom(this.$.distributedMembers).getDistributedNodes()[0];
            if(!template){
                return;
            }

            this.templatize(template);

            var items = this.collection.member;
            for(var i = 0; i < items.length; i++) {
                var itemNode = this.stamp({});
                itemNode.item = items[i];
                Polymer.dom(this.$.items).appendChild(itemNode.root);
            }
        }

    })(window.Wikibus);
</script>